:root {
  --primary: #76daf6;
  --bg: #f7f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poopins", sans-serif;
  background-color: var(--bg);
  color: #d5d0d0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(250, 252, 252, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #000;
  transform: scaleX(0);
  transition: 0.2s linear;
  transform-origin: 0 0;
}

.navbar .navbar-extra a {
  color: #010101;
  margin: 0 0rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
.translate-float {
  position: fixed;
  bottom: 90px;
  right: 24px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  animation: float 3s infinite ease-in-out;
}
.translate-float:hover {
  transform: scale(1.1);
  background: #333;
}
.translate-options {
  position: fixed;
  bottom: 170px;
  right: 20px;
  background: white;
  border-radius: 12px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.translate-options span {
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #4e4c4c;
}
.translate-options span:hover {
  background: #f0f0f0;
}

#google_translate_element,
.goog-te-banner-frame,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}
.translate-options {
  position: fixed;
  bottom: 170px;
  right: 20px;
  background: white;
  border-radius: 12px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;

  /* SCROLL */
  max-height: 260px; /* Tinggi maksimum popup */
  overflow-y: auto; /* Scroll vertikal */
  overscroll-behavior: contain;
}

/* Scrollbar agar rapi */
.translate-options::-webkit-scrollbar {
  width: 6px;
}
.translate-options::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 10px;
}
.translate-options::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}
.translate-options::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.translate-options span {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.translate-options span:hover {
  background: #f0f0f0;
}

/* logo */
.logo {
  width: 90px;
  height: 90px;
}
/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* animasi background aman untuk HP */
  animation: bgMove 12s ease-in-out infinite alternate;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/ulundanu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  /* animasi background aman untuk HP */
  animation: bgMove 12s ease-in-out infinite alternate;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0;
  background: linear-gradient(0deg, #f4f6f7, rgba(14, 161, 220, 0) 20%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 80rem;
}

.hero .content h1 {
  font-size: 4.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
  line-height: 1;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.3;
  text-shadow: 1px 1px 3px rgb(1, 1, 3, 0.9);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #010101;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
}
.wa-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: 0.3s;
}

.wa-icon img {
  width: 32px;
  height: 32px;
}

.wa-icon:hover {
  transform: scale(1.12);
  background: #1ebe5d;
}
.wa-icon {
  animation: float 3s infinite ease-in-out;
}

/* About Section */
.about,
.menu,
.rental,
.contact {
  padding: 10rem 7% 0;
  text-align: center;
  color: #010101;
  width: 100%;
  height: auto;
  display: block;
}
.about h3,
.about .cta {
  color: #000;
  font-size: 1.3rem;
  font-family: "Funnel+Sans", sans-serif;
}

.autoslider-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.autoslider {
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.slide-card {
  min-width: 320px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
}

.slide-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

.slide-card h3 {
  padding: 15px;
  margin: 0;
  font-weight: 700;
  color: #000;
}

.slide-card p {
  padding: 0 15px 10px 15px;
  color: #444;
}

.detail-btn {
  display: block;
  margin: 15px;
  padding: 12px;
  background: #ff3b3b;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
/* Menu section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu h3 {
  color: #fff;
}
.menu p,
.contact p {
  text-align: center;
  margin: auto;
  font-weight: 100;
  line-height: 2;
  font-size: 1.3rem;
  max-width: 90rem;
  color: #000;
  font-family: "Funnel+Sans", sans-serif;
}
.body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.6;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
thead {
  background: var();
  color: #010101;
}
th,
td {
  padding: 12px 30px;
  text-align: left;
  color: #010101;
  font-size: 1.2rem;
}
tr:nth-child(even) {
  background: #f2f2f2;
}
tr:hover {
  background: #aeeeae;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 10rem;
}

.menu .row .menu-card img {
  border-radius: 0;
  width: 60%;
  margin-top: 0;
}
.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Rental */

.rental h3 {
  text-align: left !important;
  margin-bottom: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Funnel+Sans", sans-serif;
}
.rental h4 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.rental li {
  text-align: left !important;
  margin-bottom: 8px;
  font-size: 1.2rem;
}
.rental p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-align: right;
}

/* booking */
.bookingForm {
  max-width: 420px;
  margin: auto; /* agar form ke kanan */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.bookingForm h3 {
  color: #fff;
}

.bookingForm p {
  color: #787676;
  font-style: italic;
  font-size: 1rem;
}
.bookingForm label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
}

.bookingForm input,
.bookingForm select,
.bookingForm textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.bookingForm button {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.bookingForm button:hover {
  background: #219150;
}
.paket-toggle {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.paket-toggle .opt {
  padding: 10px 14px;
  border-radius: 10px;
  background: #eaeaea;
  cursor: pointer;
  font-weight: 600;
}

.paket-toggle .opt.active {
  background: #27ae60;
  color: white;
}

/* Contact Section */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}
.contact .row .map {
  flex: 1 1 30rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
.footer {
  background: #1b1b1b;
  color: #fff;
  padding: 20px 10px 20px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-section h4 {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 500;
}

.footer-section p,
.footer-section li a {
  color: #dcdcdc;
  font-size: 13px;
  line-height: 1.8;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a:hover {
  color: #00bfff;
  transition: 0.3s;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  margin-right: 12px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #00bfff;
}

.footer-bottom {
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #333;
  margin-top: 40px;
  font-size: 14px;
  color: #999;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.4rem;
  }
  .menu p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 500px) {
  .about .slide {
    width: 100%; /* atur besar kecilnya */
    margin: 0 auto; /* agar center */
    display: block;
    html {
      font-size: 55%;
    }
  }
  .hero {
    animation: bgMove 12s ease-in-out infinite alternate;
  }
  .about p {
    font-size: 1.2rem;
    word-wrap: break-word; /* pecah kata panjang */
  }
  .about h2 {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    word-wrap: break-word; /* pecah kata panjang */
    white-space: normal; /* turunkan teks */
  }
}
@keyframes bgMove {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1.1) translateX(-20px);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
